<p>Hi <%= @course.instructor.name %>,</p>

<p>A new course has been created:</p>

<p>
  Name: <%= @course.name %><br>
  Description: <%= @course.description %><br>
  Status: <%= @course.status %>
</p>

<p>Best,</p>
<p>Your Team</p>